<h3 class="bg-primary p-1 text-white">Lista de {{ getName() }}</h3>


<div class="countainer">
  <div class="my-1">
    <input class="form-control" placeholder=" Quais as suas  Tarefas?" #todoText />
    <br>

    <div class="campoAtributo">Prioridade
      <select name="prioridade" #todoPrioridade>
        <option value="Alta">Alta</option>
        <option value="Média">Média</option>
        <option value="Baixa">Baixa</option>
      </select>
    </div>
    <br>

    <div class="campoAtributo">Data de Realização
      <input type="date" #todoDataRealizacao>
      <br>Data de Hoje: {{this.model.dataHoje()}}
    </div>

    <br>
    <br>
    <button class="btn btn-primary mt-1 btn-lg btn-block"
      (click)="addItem(todoText.value, todoPrioridade.value, todoDataRealizacao.value)">
     Adicionar Tarefa
    </button>
  </div>

  <br>
  <br>

  <br><br>
  
<table class= "table table-bordered">
    <thead>   
        <tr>
            <th></th>
            <th>Para fazer</th>
            <th>Prioridade</th>
            <th>Data Limite</th>
            <th>Fez?</th>
            <th>Feito?</th>
            <th>Remover</th>
          </tr>
        </thead>>
        <tbody *ngFor="let item of getTodoItens(); let i = index">
          <tr *ngIf="item.prioridade=='Alta'" class="btn-danger ">
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.prioridade }}</td>
            <td>{{ item.dataRealizacao }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /></td>
            <td [ngSwitch]="item.done">
              <span *ngSwitchCase="true">Sim</span>
              <span *ngSwitchDefault>Não</span>
            </td>
            <td *ngIf="item.prioridade=='Alta'">
              <button class="btn btn-light" (click)= "removerItem(item.action)">X</button>
            </td>
          </tr>

          <tr *ngIf="item.prioridade=='Média'" class="btn-warning">
              <td>{{ i + 1 }}</td>
              <td>{{ item.action }}</td>
              <td>{{ item.prioridade }}</td>
              <td>{{ item.dataRealizacao }}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
              <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true">Sim</span>
                <span *ngSwitchDefault>Não</span>
              </td>
              <td >
                <button class="btn btn-light" (click)= "removerItem(item.action)">X</button>
              </td >
          </tr>
          <tr *ngIf="item.prioridade=='Baixa'" class="btn-success">
              <td>{{ i + 1 }}</td>
              <td>{{ item.action }}</td>
              <td>{{ item.prioridade }}</td>
              <td>{{ item.dataRealizacao }}</td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
              <td [ngSwitch]="item.done">
                <span *ngSwitchCase="true">Sim</span>
                <span *ngSwitchDefault>Não</span>
              </td>
              <td>
                <button class="btn btn-light" (click)= "removerItem(item.action)">X</button>
              </td>
          </tr>
        </tbody>

      </table>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Realizadas</th>
            <th>Feitas?</th>
          </tr>
        </thead>

        <tbody *ngFor="let item of getTodoItensRealizados();">
          <tr *ngIf="item.prioridade=='Baixa' || 'Alta' || 'Média'">
              <td style="text-decoration:line-through;"> {{ item.action }} </td>
              <td><input type="checkbox" [(ngModel)]="item.done" /></td>
          </tr>
        </tbody>
      </table>

  <br><br>


</div>
